<!DOCTYPE html>
<html>
<head>
  <title>FilmwerkplaatsVoorraad</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">

    <%= image_tag("filmwerkplaatslogo.jpg") %>
    <%= @page_title || "Voorraad" %>
              
      <ul>
        <li><%= link_to "New Product", new_product_path %></li>
        <li><%= link_to "Website", "http://www.sewagecorporationunit.com" %></li>
        <li><%= link_to "listing", products_path %></li>
        <li><%= link_to "contacts", new_product_path %></li>
      </ul>

  </div>
   <div id="socialMedia">
        <ul>
                <li class="facebook"><%= link_to "Facebook", "http://www.sewagecorporationunit.com"%></li>
                <li class="vimeo"><%= link_to "Vimeo", "http://www.sewagecorporationunit.com"%></li>
                <li class="linkedin"><%= link_to "Linkedin", "http://www.sewagecorporationunit.com"%></li>
                <li class="rss"><%= link_to "RSS", "http://www.sewagecorporationunit.com"%></li>
        </ul>
         
  </div>
  

<%= yield %>

</body>
</html>
